
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid)) || 
        request.auth.token.email == "agus@umkm.id"
      );
    }

    match /businessActors/{actorId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isAdmin();
    }

    match /roles_admin/{adminId} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn() && (request.auth.uid == adminId && request.auth.token.email == "agus@umkm.id");
      allow delete: if isAdmin();
    }

    match /system_users/{uid} {
      // uid di sini adalah 'username' (ID dokumen)
      allow read: if isSignedIn();
      
      // Admin memiliki akses penuh untuk manajemen user
      allow create, delete: if isAdmin();
      
      // Update diizinkan untuk Admin, atau User yang sedang melakukan provisioning (kunci UID)
      allow update: if isAdmin() || (
        isSignedIn() && (
          // Jika dokumen belum punya UID, izinkan user tersebut mengunci dengan UID-nya
          (resource.data.uid == null && request.resource.data.uid == request.auth.uid) ||
          // Atau jika UID dokumen sudah cocok dengan user yang sedang login
          (resource.data.uid == request.auth.uid)
        )
      );
    }

    match /master_data/{id} {
      // Izinkan pengecekkan data oleh publik tanpa login
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
